version: "3.8"
services:
  react:
    image: ghcr.io/felixaung/frontend:latest
    container_name: frontend
    command: ["bun", "run", "dev", "--", "--host", "0.0.0.0", "--port", "3000"]
    ports:
      - 3000:3000
    networks:
      - test-network

  springboot:
    image: ghcr.io/felixaung/backend:latest
    container_name: backend
    ports:
      - 8080:8080
    environment:
      - SERVER_PORT=8080
      - SERVER_ADDRESS=0.0.0.0
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/test_db
      - SPRING_DATASOURCE_USERNAME=myuser
      - SPRING_DATASOURCE_PASSWORD=mypassword
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update

    networks:
      - test-network
    # depends_on:
    #   postgres:
    #     condition: service_healthy
    restart: unless-stopped

  # postgres:
  #   image: postgres:17.7-alpine
  #   container_name: postgres
  #   environment:
  #     - POSTGRES_USER=myuser
  #     - POSTGRES_PASSWORD=mypassword
  #     - POSTGRES_DB=test_db
  #   ports:
  #     - 5433:5432
  #   networks:
  #     - test-network
  #   volumes:
  #     - /home/pyae-phyo-aung/portfolio/tdd/postgres/pgdata:/var/lib/postgresql/data
  #   restart: unless-stopped
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready -U myuser -d test_db"]
  #     interval: 5s
  #     timeout: 3s
  #     retries: 10

networks:
  test-network:
    name: test-network
    driver: bridge
    external: true
