version: "3.8"
services:
  react:
    build: 
      context: ./react
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - 3000:3000
    networks:
      - test-network

  # springboot:
  #   build: ./demo
  #   container_name: backend
  #   ports:
  #     - 8080:8080
  #   networks:
  #     - test-network

  postgres:
    image: postgres:17.7-alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=test_db
    ports:
      - 5433:5432
    networks:
      - test-network
    volumes:
      - /home/pyae-phyo-aung/portfolio/tdd/postgres/pgdata:/var/lib/postgresql/data
    restart: unless-stopped

networks:
  test-network:
    name: test-network
    driver: bridge
    external: true
